body {
  padding: 0;
  font-family: sans-serif;
  background-image: url('./images/wood_lights.jpg');
  background-repeat: no-repeat;
  background-size: stretch;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}

.App-Navbar {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url('./images/navbar_back.jpg');
  background-size: stretch;
  color: black;
  box-shadow: 0 0 20px 10px black;
}

.App-Navbar a {
  color: black;
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: none;
  background-color: rgba(0,0,0,0);
  
}

.App-Navbar h1 {
  font-size: 40px;
}
.App-Main-Container {
  display: flex;
  justify-content: space-between;
  height: 570px;
}
.App-Projects-Bar {
  width: 25%;
  border-right: 2px solid black;
}
.App-Projects-Bar h1 {
  border-bottom: 2px solid black;
  border-bottom-left-radius: 25px;
  padding: 10px;
}
.App-Routes {
  width: 50%;
  text-align: center;
}
.App-Routes h1 {
  padding: 10px;
}
.App-Posts-Bar {
  width: 25%;
  border-left: 2px solid black;
}
.App-Posts-Bar h1 {
  border-bottom: 2px solid black;
  border-bottom-right-radius: 25px;
  padding: 10px;
}
.App-Footer {
  border-top: 2px solid black;
  height: 20px;
}


a {
  /* box-shadow: 0 0 20px 7px black inset; */
  color: white;
  border: 2px solid silver;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.1);
  text-decoration: none;
  margin: 10px; 
}

.User-Index-Link a {
  box-shadow: none;
  border: none;
}

.ProjectContainer {
  background-image: url('./images/project_wood.jpg');
  color: white;
  border-radius: 25px;
  opacity: 1;
  height: 400px;
  width: 400px;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.PostContainer {
  background-image: url('./images/project_wood.jpg');
  color: white;
  border-radius: 25px;
  opacity: 1;
  height: 400px;
  width: 400px;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.UserListItem {
  margin: 30px;
}

.HomePageContainer{
  display: flex;
  flex-direction: column;
}

.HomePageContainer p {
  border: 2px solid black;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: rgba(0,0,0,0.5);
}
.HomePageContainer a {
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: rgba(0,0,0,0.3);
}
.HomePageContainer a:hover {
  background-color: rgba(0,0,0,0.5);
}

.HomeUsersListContainer {
  border: 2px solid black;
  height: 100%;
  margin: 20px;
}

.submit {
  background-color: rgba(0,0,0,0.3);
  color: white;
  padding: 10px;
  border-radius: 25px;
}
.submit:hover {
  background-color: rgba(0,0,0,0.5);
}

.New-Post-Page-Container {
  display: flex;
  flex-direction: column;
}
.New-Post-Page-Container a{
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.3);
}
.New-Post-Page-Container a:hover{
  background-color: rgba(0,0,0,0.5);
}