body {
  padding: 0;
  font-family: sans-serif;
  background-image: url('./images/wood_lights.jpg');
  background-repeat: no-repeat;
  background-size: stretch;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
a {
  color: white;
  border: 2px solid silver;
  background-color: rgba(0,0,0,0.1);
  text-decoration: none;
}

.App-Navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(238, 119, 9, 0.4);
  background-size: stretch;
  color: black;
  box-shadow: 0 0 20px 10px black;
  height: 100px;
}

.App-Navbar a {
  color: black;
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: none;
  background-color: rgba(0,0,0,0);
  padding: 10px;
  text-decoration: none;
  margin: 10px; 
  height: 90%;
}

.App-Navbar h1 {
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-size: 40px;
  
}

.navbar-left {
  display: flex;
}
.navbar-right {
  display: flex;
}

.App-Main-Container {
  display: flex;
  justify-content: space-between;
  height: 750px;
}
.App-Projects-Bar, .App-Notes-Bar {
  flex: 0 0 12em;
  margin-top: 10px;
  background-color: rgba(238, 119, 9, 0.4);
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.80);  
  overflow-y: scroll;
}
.App-Notes-Bar {
  order: -1;
}
.App-Projects-Bar h1, .App-Notes-Bar h1 {
  border-bottom: 2px solid black;
  padding: 10px;
  text-align: center;
  /* font-family: 'Gloria Hallelujah', cursive; */
}
.App-Projects-Bar a, .App-Notes-Bar a {
  color: white;
  border: none;
  background-color: rgba(0,0,0,0);
}
.App-Projects-Index {
  background-color: rgba(0,0,0,0);
}

.App-Routes {
  width: 50%;
  text-align: center;
}
.App-Routes h1 {
  padding: 10px;
}

.App-Footer {
  border-top: 2px solid black;
  height: 20px;
  display: flex;
  justify-content: center;
}
.App-Footer a {
  border: none;
}

.User-Index-Link a {
  box-shadow: none;
  border: none;
}

.ProjectContainer {
  height: 720px;
  background-image: url('./images/project_wood.jpg');
  color: white;
  border-radius: 25px;
  opacity: 1;
  padding: 20px;
  margin: 20px;
}

.NoteContainer {
  height: 720px;
  background-image: url('./images/project_wood.jpg');
  color: white;
  border-radius: 25px;
  opacity: 1;
  padding: 20px;
  margin: 20px;
}

.UserListItem {
  margin: 30px;
}

.HomePage-content {
  flex: 1;
  text-align: center;
}
.HomePageContainer{
  width: 100%;
  height: 720px;
  display: flex;
  flex: 1;
}
.HomePageContainer p {
  border: 2px solid black;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  
}
.HomePageContainer a {
  color: white;
  height: 30px;
}
.HomePageContainer a:hover {
  background-color: rgba(0,0,0,0.5);
}

.HomeUsersListContainer {
  border: 2px solid black;
  height: 100%;
  margin: 20px;
}

.submit {
  background-color: rgba(0,0,0,0.3);
  color: white;
  padding: 10px;
  border-radius: 25px;
}
.submit:hover {
  background-color: rgba(0,0,0,0.5);
}

legend {
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  background-color: black;
  box-shadow: 10px 5px 2px 7px rgba(0,0,0,0.5);
}
fieldset {
  border: 2px solid black;
  border-radius: 25px;
  background-color: rgba(0,0,0,0.3);
  box-shadow: 0 0 15px 10px rgba(0,0,0,0.5) inset;
  
}
fieldset:hover {
  background-color: rgba(0,0,0,0.5);
}
label {
  color: white;
}
.Note-content {
  height: 60px;
  width: 80%;
  text-align: center;
}

.New-Container {
  display: flex;
  flex-direction: column;
}
.New-Container a{
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.3);
}
.New-Container a:hover{
  background-color: rgba(0,0,0,0.5);
}

.App-Footer {
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: rgba(238, 119, 9, 0.4);  
  height: 50px;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.80);
}

.projectImage, .noteImage {
  height: 300px;
}

.user-profile {
  height: 720px;
}

.iconStyle {
  height: 50px;
  width: 50px;
}
.projectContainer, .noteContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.web {
  height: 750px;
}
@media only screen and (max-width: 500px) {
  .mobile {
    height: 580px;
  }
  .App-Navbar {
      width: 100%;
      height: 50px;
      padding: 2px;
      justify-content: space-around;
  }
  .App-Navbar a {
    height: 10px;
    width: 10px;
    margin: 2px;
  }
  .navbar-left, .navbar-right {
    font-size: 10px;
  }
  .App-Navbar h1 {
    font-size: 20px;
  }
  button {
    color: white;
  }
  .App-Projects-Bar h1, .App-Notes-Bar h1 {
    font-size: 20px;
    text-align: center;
  }
  .HomePageContainer, .NoteContainer, .ProjectContainer, .user-profile{
    height: 580px;
  }
  .iconStyle{
    height: 25px;
    width: 25px;
  }
  .projectImage, .noteImage {
    height: 200px;
  }

}